#editorContainer {
    position: relative;
    display: grid;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    grid-template-rows: auto 1fr auto;
}
#editor {
    flex: 1;
    border: 0px solid #ddd;
    font-size: 14px;
    margin-bottom: 10px;
    height: 80%;
}

#output {
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
}

#editor.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#editorContainer.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: white;
}

#editorMenu {
    display: flex;
    justify-content: space-between;
    background-color: #454752;
    padding: 1px;
    border-bottom: 0px solid #454752;
}

.left-buttons {
    display: flex;
}
.right-buttons {
    display: flex;
}

#editorMenu button {
    margin-right: 10px;
    padding: 0px 5px;
    background-color: #454752;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
}

#editorMenu button:hover {
    background-color: #171c21;
}

#editorMenu button.active {
    background-color: #3ba65e !important; 
    /* 35b237 */
}
#editorMenu button.deactivated {
    background-color: #cb3737 !important; 
}

#fullscreenButton {
    margin-left: auto;
    background-color: #28a745;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#fullscreenButton svg {
    display: none; 
}

#fullscreenButton .show {
    display: inline-block;
}