#output-ext {
    padding: 10px;
    background-color: rgb(69 71 80);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

#output {
    flex: 1;
    border: 1px solid #000000;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #c9c9c9;
}