#tabsandcontent {
    height: 270px;
    display: flex;
    position: relative;
    flex-direction: column;
}
.tab {
    overflow: hidden;
    background-color: #454751;
    margin-top: 0px;
    position: relative;
    height: 35px;
}

.tab button {
    background-color: inherit;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 13px;
    transition: 0.3s;
    font-size: 17px;
    padding-top: 14px;
}

.tab button:hover {
    background-color: #171c21;
}

.tabcontent {
    flex-grow: 1; 
    display: none;
    padding: 0px;
    border: 0px solid #ccc;
    height: calc(100% - 40px);
    background-color: #f4f4f4;
}
.tabcontent h3 {
    margin-top: 0;
}

.tablinks.active {
    background-color: #171c21;
}