#tabsandcontent {
    height: 150px;
    display: flex;
    position: relative;
    flex-direction: column;
}
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    margin-top: 0px;
    position: relative;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tabcontent {
    flex-grow: 1; 
    display: none;
    padding: 0px;
    border: 1px solid #ccc;
    height: 100%;
    background-color: #f4f4f4;
    overflow-y: auto;
}
.tabcontent h3 {
    margin-top: 0;
}